{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}

{% block head %}
    {{ submission_form.media }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
{% endblock %}

{% block head_css %}
    .reply_comment {
      display: none;
    }
{% endblock %}

{% block heading_inner %}{{ heading }}<br/>
<small id='submission-inprogress-{{submission.quest.id}}'>
{% if request.user.is_staff %} {{submission.user}} | {% endif %}
{% if submission.is_approved %}
  {% if submission.do_not_grant_xp %}
    Skipped
  {% else %}
    Approved
  {% endif %} - {{submission.time_approved}}
{% elif submission.is_awaiting_approval %}
  Submitted - {{submission.time_completed}}
{% elif submission.is_returned %}
  Returned - {{submission.updated|timesince}} ago
{% else %}
  In progress
{% endif %}
</small>
{% endblock %}

{% block content %}

  {% if request.user.is_staff %}
  {% with submission as s %}
  <div class="pull-right submission-buttons-other-top">
    {% include "quest_manager/submission_buttons_other.html" %}
  </div>
  {% endwith %}
  {% endif %}

  {% with submission.quest as quest %}
    {% include "quest_manager/quest_detail_content.html" %}
  {% endwith %}

  <div id='submission-comments-{{submission.quest.id}}' class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Past Submissions and Replies</h3>
    </div>
    <ul class="list-group">

      {% include "quest_manager/snippets/previous_submission.html" %}

      <li class="list-group-item list-group-item-info">Submission Comments
        {% with submission as s %}
          {% include "quest_manager/snippets/time_to_complete_submission.html" %}
        {% endwith %}
      </li>

      {% with submission.get_comments as target_comments %}
        {% include "comments/comments.html" %}
      {% endwith %}

    </ul>
  </div>

  <div id='submission-form-{{submission.quest.id}}' class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Quest Submission Form</h3>
    </div>
    <div class="panel-body panel-summernote">
      {% if request.user.is_staff %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'quests:approve' submission.id%}">
      {% else %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'quests:complete' submission.id%}">
      {% endif %}

          {% csrf_token %}
          {{ submission_form | crispy }}
          <div class='form-group form-group-summernote'>
          {% if request.user.is_staff %}
            {% with submission as s %}
            <div>
              {% include "quest_manager/submission_buttons_form.html" %}
              {% include "quest_manager/submission_buttons_other.html" %}
            </div>
            {% endwith %}
          {% else %}
            {% if submission.quest.visible_to_students %}
              <a id='save-draft-btn' class='btn btn-default'>
                <span id="draft-text">Save Draft</span>
                <span id="draft-spin" style="display:none"><i class="fa fa-spinner fa-spin fa-fw"></i><span class="sr-only">Saving draft...</span></span>
                <span id="draft-check" style="display:none" class="text-success"><i class="fa fa-check fa-fw"></i><span class="sr-only">Draft saved successfully</span></span>
              </a>
              {% if submission.is_approved %}
                <input type='submit' name='comment' class='btn btn-primary' value='Add Comment' />
              {% else %}
                <input id='tour-submit-quest' type='submit' name='complete' class='btn btn-primary' value='Submit Quest for Approval' />
                <a class="btn btn-danger" href="{% url 'quests:drop' submission.id %}" role="button">Drop Quest</a>
              {% endif %}
            {% endif %}
          {% endif %}
          </div>
        </form>
    </div>
  </div>

{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();


            {% if anchor %}
                // http://stackoverflow.com/questions/8149155/animate-scrolltop-not-working-in-firefox
                $('body,html').animate({
                    'scrollTop':   $('#{{ anchor }}').offset().top
                }, 1000);
            {% endif %}

            // Copied from quest_approvals.html
            $('[id^=btn_quick_text]').on('click', function () {
                var msg = '<p>{{ quick_reply_text }}<br></p>';
                var text_area = $('div.note-editable');
                if (text_area.html() == "<p><br></p>") // default empty summernote text area
                  text_area.html(msg)
                else
                  text_area.append(msg);
            });

            // Save drafts via Ajax when button pressed
            $('#save-draft-btn').on('click', function(event){
                event.preventDefault(); // prevent browser from reloading
                console.log("Draft saved!")  // sanity check
                save_draft();
            });

            setInterval(save_draft, 60000); // autosave every 60 seconds

            
        });

        function save_draft() {
            $summernoteEditor = $('div.note-editable') // should probably use a more robust selector here?
            draftComment = $summernoteEditor.html()
            xpRequested = $('#id_xp_requested').val()
            pasteDetected = $('#id_paste_detected').val() //Get the value of the hidden field paste_detected

            $draftSaveBtn = $('#save-draft-btn')
            old_text = $draftSaveBtn.html()

            // fix the width of the elemtn so it doesn't shrink when text changes to icon
            btnWidth = $draftSaveBtn.css('width')
            $draftSaveBtn.css('width', btnWidth)

            $draftText = $('#draft-text')
            $draftSpin = $('#draft-spin')
            $draftCheck = $('#draft-check')

            if ($draftText.is(':visible')) {
                $draftText.hide(0) // no delay
                $draftSpin.show()

                $.ajax({
                    url : "{% url 'quests:ajax_save_draft' %}",
                    type : "POST", // http method
                    data : {
                      csrfmiddlewaretoken: "{{ csrf_token }}",
                      comment: draftComment,
                      submission_id: {{ submission.id }},
                      xp_requested: xpRequested,
                      paste_detected: pasteDetected
                    }, // data sent with the post request

                    // handle a successful response
                    success : function(json) {
                      hide_check_show_text();
                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        alert("ERROR!\n\nSorry, something went wrong and the draft wasn't saved.  \n\nSee the browser console for error details.");
                    }
                });
            }

        }

        function hide_check_show_text() {
          // after success, animate a check mark, then put text back
          $('#draft-spin').fadeOut(400, function() {
            $('#draft-check').fadeIn(400, function() {
              window.setTimeout(
                function(){$('#draft-check').hide(0, function() {$('#draft-text').show(0)});},
                2000
              )
            });
          });
        }

    </script>
    
    {% include 'quest_manager/snippets/flag_submissions_scripts.html' %}
    
  {% if not request.user.is_staff %}
    
  <script src="https://www.youtube.com/iframe_api"></script>
  <script>
    //This script is for tracking video progress for a submission
    let player;
    let videoProgress = JSON.parse(document.getElementById('video-progress').textContent) || {};
    let lastUpdateTime = 0;
    //How often to check for progress in seconds
    const INTERVAL = 15;
    const iframeParams = parseIframeParams();

    // If the video is not yet watched, set the start/end times from the iframe
    function parseIframeParams() {
      const iframe = submission.quest.instructions.match(/<iframe[^>]+src=["'](.*?)["']/i);
      console.log(iframe +'found');

      return iframe ? {
        start: parseInt((iframe[1].match(/start=(\d+)/) || [])[1]) || 0,
        end: parseInt((iframe[1].match(/end=(\d+)/) || [])[1]) || null
      } : { start: 0, end: null };
    };

    // Initialize the YouTube player script to allow javascript to listen and control the video
    function onYouTubeIframeAPIReady() {
      const iframe = $(submission.quest.instructions).filter("iframe")[0];
      if (!iframe) return;
      const videoId = iframe.src.split('embed/')[1].split('?')[0];
      player = new YT.Player('youtube-player', {
        videoId: videoId,
        events: { 
          'onReady': onPlayerReady, 
          'onStateChange': onPlayerStateChange 
        }
      });
    }

   
    // When the player is ready, set the start and end points for tracking progress
    function onPlayerReady(event) {
      player = event.target;
      const effectiveStart = iframeParams.start;
      const effectiveEnd = iframeParams.end || player.getDuration();

      if (!videoProgress.start && !videoProgress.end) {
          videoProgress = {
              start: effectiveStart,
              end: iframeParams.end, // Store null if no end specified
              watched: videoProgress.watched || []
          };
          saveVideoProgress();
      }
      if (effectiveStart > 0) player.seekTo(effectiveStart);
      setInterval(trackProgress, INTERVAL * 1000);
    }

    //start tracking progress when the video is playing
    function onPlayerStateChange(event) {
      if (event.data === YT.PlayerState.PLAYING) 
        trackProgress();
    }
    //
    function trackProgress() {
      if (!player || player.getPlayerState() !== YT.PlayerState.PLAYING) return;

      const currentTime = player.getCurrentTime();
      const effectiveStart = videoProgress.start;
      const effectiveEnd = videoProgress.end || videoDuration;

      if (currentTime < effectiveStart || currentTime > effectiveEnd) return;

      if (currentTime - lastUpdateTime >= INTERVAL || currentTime < lastUpdateTime) {
          const start = Math.max(effectiveStart, Math.floor(currentTime - INTERVAL));
          const end = Math.min(effectiveEnd, Math.ceil(currentTime));
          addWatchedSegment(start, end);
          saveVideoProgress();
          lastUpdateTime = currentTime;
      } 
    }
    //add a segment of the video that has been watched
    function addWatchedSegment(start, end) {
      if (!videoProgress.watched) videoProgress.watched = [];
      let watched = videoProgress.watched;
      let merged = false;
      for (let i = 0; i < watched.length; i++) {
        const seg = watched[i];
        if (seg[0] <= end + 1 && seg[1] >= start - 1) {
          seg[0] = Math.min(seg[0], start);
          seg[1] = Math.max(seg[1], end);
          merged = true;
          break;
        }
      }
      if (!merged) {
        watched.push([start, end]);
      }
      watched.sort((a, b) => a[0] - b[0]);
      for (let i = watched.length - 1; i > 0; i--) {
        if (watched[i-1][1] >= watched[i][0] - 1) {
          watched[i-1][1] = Math.max(watched[i-1][1], watched[i][1]);
          watched.splice(i, 1);
        }
      }
    }

    function saveVideoProgress() {
        $.ajax({
            url: "{% url 'quest_manager:ajax_save_video_progress' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                submission_id: "{{ submission.id }}",
                video_progress: JSON.stringify(videoProgress)
            },
            success: function(response) {
                console.log("Video progress saved:", response);
            },
            error: function(xhr, errmsg, err) {
                console.error("Error saving video progress:", errmsg);
            }
        });
    }
  </script>

  <script defer>
    /*Detects when a user pastes into any textarea with class 'note-editable' and sets the pastedetected field
    to true for form validation.*/

    // Delay the execution by 1 seconds (1000 milliseconds) due to AJAX loading
    setTimeout(function() {
      const commentTextareas = document.getElementsByClassName('note-editable');

      // Iterate over the HTMLCollection
      for (let i = 0; i < commentTextareas.length; i++) {
          const commentTextarea = commentTextareas[i];  // Get the current textarea

          commentTextarea?.addEventListener('paste', function(event) {
            const pastedDetectedField = document.getElementById('id_paste_detected');

            if (pastedDetectedField) {
              pastedDetectedField.value = "true";
            } 
            else {
                console.error("Hidden field 'id_pastedetected' NOT FOUND!");
            }
          });
      }
    }, 1000); // 1000 milliseconds = 1 second

  </script>
    {% endif %}  
{% endblock %}
